.chat-box {
    background-color: #abc1d1;
}

.chat-box .alt-header,
.chat-box .status-bar {
    top: 0;
    position: absolute;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
}

.chat-box .status-bar {
    z-index: 2;
}

.chat-box .alt-header {
    top: 10px;
    z-index: 1;
}

.search-margin {
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.8s linear;
}

.chat__timestamp {
    color: #ffffff;
    background-color: #92a4b2;
    padding: 13px 15px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 18px;
    margin-right: 15px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__author {
    margin-top: 3px;
    margin-bottom: 5px;
    display: block;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message__time, 
.message__author {
    font-size: 15px;
    opacity: 0.8;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
    box-sizing: border-box;
}

.reply .reply__column:first-child {
    width: 10%;
}
.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    padding: 10px;
    width: 94%;
    border: var(--main-border);
    border-radius: 20px;
    transition: border-color 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.reply input:hover {
    border-color: var(--yellow);
}

.reply input:focus {
    outline: none;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 0;
    top: 3px;
}

.reply__column:last-child > i {
    right: 35px;
    top: 12px;
}

.reply__column i {
    opacity: 0.3;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smaile-wink,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smaile-wink,
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input {
    width: 70vw;
    transform: translateX(-10%);
}