#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 10px 0px;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: -20px;
}

#friends-display-link i{
    color: rgba(0, 0, 0, 0.3);
    margin-right: 5px;
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.friends-screen__channel-header {
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    height: 110vh;
    width: 110vw;
    top: 0;
    display: flex;
    animation: closeSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 0.7s;
}

#splash-screen i {
    font-size: 100px;
    margin: 150px;
}

@keyframes closeSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}